<app-post-header></app-post-header>

<div class="mt-5 bg-light">
    <div class="alert alert-light py-3 border-bottom text-center m-0" role="alert">
        Want to create new tournament ? <button type="button" class="btn btn-danger">Create now</button>
      </div>
    <div class="container">
      <div class="row">
        <div class="col-9 border-right">
       <div class="py-2">
          <h4>Tournaments</h4>
       </div>  
       <div class="mt-2">
        <section class="bg-light ">
              <div class="mb-4">
          <!--<h4 class="py-2 d-inline text-underline">Ongoing <span class="badge badge-pill badge-danger">12</span></h4>
          <a href="#" class="d-inline float-right">View All</a>-->
         
                  <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active font-weight-bold" id="nav-ongoing-tab" data-toggle="tab" href="#nav-ongoing" role="tab" aria-controls="nav-ongoing" aria-selected="true">Ongoing <span class="badge badge-pill badge-warning">4</span></a>
            <a class="nav-item nav-link font-weight-bold" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Upcoming <span class="badge badge-pill badge-primary">8</span></a>
            <a class="nav-item nav-link font-weight-bold" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Completed <span class="badge badge-pill badge-success">8</span></a>
          
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active fo" id="nav-ongoing" role="tabpanel" aria-labelledby="nav-ongoing-tab">
                <div class="row py-4"> 
              <div class="col-lg-4">
                    <div class="card text-dark mb-3 shadow ">
                    <img class="card-img-top" src="../../assets/img/badminton-cork2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="text-muted font-weight-bold">Dec 4 - Dec 9</p>
                    <h5 class="card-title font-weight-bold">Puma Cup Dev Tournament 2018</h5>
                      
                     <p class="card-text">We are proud to announce 1st pro cup challange 2018.</p>
                   <div class="d-flex justify-content-between align-items-center">
                      <a routerLink="/tournament-details" class="btn btn-outline-warning ">More Info</a>
                    <p class="text-muted font-weight-bold"><i class="fas fa-users fa-lg"></i> 50 total</p>
                        </div>
                   </div>
                 </div>
                 </div>

                 <div class="col-lg-4">
                    <div class="card text-dark mb-3 shadow ">
                    <img class="card-img-top" src="../../assets/img/badminton-cork2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="text-muted font-weight-bold">Dec 4 - Dec 9</p>
                    <h5 class="card-title font-weight-bold">Puma Cup Dev Tournament 2018</h5>
                      
                     <p class="card-text">We are proud to announce 1st pro cup challange 2018.</p>
                   <div class="d-flex justify-content-between align-items-center">
                      <a routerLink="/tournament-details" class="btn btn-outline-warning ">More Info</a>
                    <p class="text-muted font-weight-bold"><i class="fas fa-users fa-lg"></i> 50 total</p>
                        </div>
                   </div>
                 </div>
                 </div>

                 <div class="col-lg-4">
                    <div class="card text-dark mb-3 shadow ">
                    <img class="card-img-top" src="../../assets/img/badminton-cork2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="text-muted font-weight-bold">Dec 4 - Dec 9</p>
                    <h5 class="card-title font-weight-bold">Puma Cup Dev Tournament 2018</h5>
                      
                     <p class="card-text">We are proud to announce 1st pro cup challange 2018.</p>
                   <div class="d-flex justify-content-between align-items-center">
                      <a routerLink="/tournament-details" class="btn btn-outline-warning ">More Info</a>
                    <p class="text-muted font-weight-bold"><i class="fas fa-users fa-lg"></i> 50 total</p>
                        </div>
                   </div>
                 </div>
                 </div>
                 <div class="col-lg-4">
                    <div class="card text-dark mb-3 shadow ">
                    <img class="card-img-top" src="../../assets/img/badminton-cork2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="text-muted font-weight-bold">Dec 4 - Dec 9</p>
                    <h5 class="card-title font-weight-bold">Puma Cup Dev Tournament 2018</h5>
                      
                     <p class="card-text">We are proud to announce 1st pro cup challange 2018.</p>
                   <div class="d-flex justify-content-between align-items-center">
                      <a routerLink="/tournament-details" class="btn btn-outline-warning ">More Info</a>
                    <p class="text-muted font-weight-bold"><i class="fas fa-users fa-lg"></i> 50 total</p>
                        </div>
                   </div>
                 </div>
                 </div>

                 <div class="col-lg-4">
                    <div class="card text-dark mb-3 shadow ">
                    <img class="card-img-top" src="../../assets/img/badminton-cork2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="text-muted font-weight-bold">Dec 4 - Dec 9</p>
                    <h5 class="card-title font-weight-bold">Puma Cup Dev Tournament 2018</h5>
                      
                     <p class="card-text">We are proud to announce 1st pro cup challange 2018.</p>
                   <div class="d-flex justify-content-between align-items-center">
                      <a routerLink="/tournament-details" class="btn btn-outline-warning ">More Info</a>
                    <p class="text-muted font-weight-bold"><i class="fas fa-users fa-lg"></i> 50 total</p>
                        </div>
                   </div>
                 </div>
                 </div>

                 <div class="col-lg-4">
                    <div class="card text-dark mb-3 shadow ">
                    <img class="card-img-top" src="../../assets/img/badminton-cork2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="text-muted font-weight-bold">Dec 4 - Dec 9</p>
                    <h5 class="card-title font-weight-bold">Puma Cup Dev Tournament 2018</h5>
                      
                     <p class="card-text">We are proud to announce 1st pro cup challange 2018.</p>
                   <div class="d-flex justify-content-between align-items-center">
                      <a routerLink="/tournament-details" class="btn btn-outline-warning ">More Info</a>
                    <p class="text-muted font-weight-bold"><i class="fas fa-users fa-lg"></i> 50 total</p>
                        </div>
                   </div>
                 </div>
                 </div>
                 </div>
                 <div class="mx-auto" style="width: 200px;">
                    <button type="button" class="btn btn-primary"><i class="fas fa-sync-alt"></i> Load more</button>
                  </div>
                
            </div>
          <div class="tab-pane fade show fo" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">...</div>
          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
          
        </div>
        </div>
              
     </section>
        </div>
      </div>
      <div class="col-3">
        <div class="py-3">
            <h4>Filter</h4>
        </div>
        <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Tournament name</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name">
            
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Sports name</label>
              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Ex: Tennis,Badminton..">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Find</button>
          </form>
      </div>
      </div>
    </div>
</div>