<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark nav-header">
      <div class="container">
      <a class="navbar-brand brand-logo" href="#">Fixr</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/tournament">Tournaments <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Leagues</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Players</a>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Ladders</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Sports center</a>
            </li>
        </ul>
        <form class="form-inline input-group mt-2 mr-3 mt-md-0" style="width:300px;">
          <input class="form-control" type="text" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="fas fa-search"></i></button>
            </div>
        
        </form>
        <nav class="my-2 my-md-0 mr-md-3">
            <!-- <a class="p-2" href="#"><i class="far fa-bell fa-lg"></i></a>
            <a class="p-2" href="#"><img src="https://source.unsplash.com/G9Rfc1qccH4/30x30" alt="..." class="rounded-circle"> Kishore</a> -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#"><i class="far fa-envelope fa-lg"></i> <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><i class="far fa-bell fa-lg"></i></a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <img src="https://source.unsplash.com/G9Rfc1qccH4/30x30" alt="Profile" class="rounded-circle"> Kishore
                  </a>
                  <div class="dropdown-menu  dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#"><i class="far fa-user"></i> Profile</a>
                    <a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt"></i> Logout</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">FAQ</a>
                    <a class="dropdown-item" href="#">Support center</a>
                  </div>
                </li>
               
              </ul>
        </nav>
      </div>
    </div>
    </nav>
  </header>