<section class="cover">
    <nav class="navbar navbar-expand-lg bg-primary" id="mainnav-bar">
      <div class="overlay"></div>
      <div class="container" style="z-index:1040;">
         <a class="navbar-brand" href="#page-top">{{title}}</a>
         <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarResponsive">
           <ul class="navbar-nav ml-auto">
             <li class="nav-item">
               <a class="nav-link" routerLink="/login">Log in</a>
             </li>
           </ul>
         </div>
       </div>
     </nav>
    </section>
     <header class="text-white d-flex bg-primary" id="hero-background">
       <div class="overlay"></div>
       <div class="container my-auto" style="z-index:1040;"> 
         <div class="row">
           <div class="col-lg-5">
             <h1 class="mb-4">
              <strong>Players Tournaments Leagues</strong>
             </h1>
             <p class="lead mb-4">Fixr is an web based tool to create tournament,events,manage clubs and many more.</p>
             <a routerLink="/register" class="btn btn-warning btn-lg">Create an account</a>
    
           </div>
           <div class="col-lg-7 mx-auto" style="width: 200px;">
           <!-- <div class="input-group mb-3">
    <input type="text" class="form-control form-control-lg" placeholder="Search clubs,players,tournaments..." aria-label="Recipient's username" aria-describedby="button-addon2">
    <div class="input-group-append">
     <button class="btn btn-warning font-weight-bold text-uppercase" type="button" id="button-addon2">Search</button>
    </div>
    </div> -->
    <img src="./assets/img/player.png" class="img-fluid" style="height:650px;position: absolute;
    top: -20%;
    left: 30%;">
           </div>
         </div>
       </div>
     </header>
    
     <section class="feature-sets pt-7 bg-light text-center">
      <div class="container">
          <div class="row">
            <div class="col-md-9 mx-auto  pb-5">
                <p class="text-monospace text-primary">FEATURES</p>
                <h1 class="title"><strong>What makes it awesome</strong></h1>
                <p class="lead">Check out what you can do with this app.</p>
            </div>
           
          </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="card features-sets-div mx-auto mb-5 mb-lg-0 mb-lg-3 shadow">
                <div class="card-body">
              <div class="icon d-flex">
                 <!-- <i class="fas fa-random "></i> -->
                 <i class="fas fa-tasks m-auto text-primary"></i>
                 
              </div>
              <h4>Tournaments</h4>
              <p class="lead mb-0">This theme will look great on any device, no matter the size!</p>
            </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card features-sets-div mx-auto mb-5 mb-lg-0 mb-lg-3 shadow">
                <div class="card-body">
              <div class="icon d-flex">
                <i class="fas fa-chess-board m-auto text-primary"></i>
              </div>
              <h4>Leagues</h4>
              <p class="lead mb-0">Featuring the latest build of the new Bootstrap 4 framework!</p>
            </div>
            </div>
            </div>
          <div class="col-lg-4">
            <div class="card features-sets-div mx-auto mb-0 mb-lg-3 shadow">
                <div class="card-body">
              <div class="icon d-flex">
                <i class="fas fa-calendar-alt m-auto text-primary"></i>
              </div>
              <h4>Sports Center Booking</h4>
              <p class="lead mb-0">Ready to use with your own content, or customize the source files!</p>
            </div>
            </div>
          </div>
        </div>
    
        <div class="row">
          <div class="col-lg-4">
            <div class="card features-sets-div mx-auto mb-5 mb-lg-0 mb-lg-3 shadow">
                <div class="card-body">
              <div class="icon d-flex">
                  <i class="fas fa-people-carry m-auto text-primary"></i>
                 
              </div>
              <h4>Players</h4>
              <p class="lead mb-0">This theme will look great on any device, no matter the size!</p>
            </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card features-sets-div mx-auto mb-5 mb-lg-0 mb-lg-3 shadow">
                <div class="card-body">
              <div class="icon d-flex">
                <i class="fas fa-sitemap m-auto text-primary"></i>
              </div>
              <h4>Rankings</h4>
              <p class="lead mb-0">Featuring the latest build of the new Bootstrap 4 framework!</p>
            </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card features-sets-div mx-auto mb-0 mb-lg-3 shadow">
                <div class="card-body">
              <div class="icon d-flex">
                <i class="fas fa-flag-checkered m-auto text-primary"></i>
              </div>
              <h4>Events</h4>
              <p class="lead mb-0">Ready to use with your own content, or customize the source files!</p>
            </div>
            </div>
          </div>
        </div>
    
    
        <div class="row">
          <div class="col-lg-4">
            <div class="card features-sets-div mx-auto mb-5 mb-lg-0 mb-lg-3 shadow">
                <div class="card-body">
              <div class="icon d-flex">
                  <i class="fas fa-chart-line m-auto text-primary"></i>
              </div>
              <h4>Analytics</h4>
              <p class="lead mb-0">This theme will look great on any device, no matter the size!</p>
            </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card features-sets-div mx-auto mb-5 mb-lg-0 mb-lg-3 shadow">
                <div class="card-body">
              <div class="icon d-flex">
                <i class="fas fa-grip-horizontal m-auto text-primary"></i>
                
              </div>
              <h4>Ladders</h4>
              <p class="lead mb-0">Featuring the latest build of the new Bootstrap 4 framework!</p>
            </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card features-sets-div mx-auto mb-0 mb-lg-3 shadow">
                <div class="card-body">
              <div class="icon d-flex">
                <i class="fas fa-code m-auto text-primary"></i>
              </div>
              <h4>APIs</h4>
              <p class="lead mb-0">Ready to use with your own content, or customize the source files!</p>
            </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="bg-light text-center">
        <div class="container">
            <div class="row">
              <div class="col-md-5 mx-auto  pb-5">
                  <p class="text-monospace text-primary">UNLIMITED FUN</p>
                  <h1 class="title display-4"><strong>Stop waiting</strong></h1>
                  <p class="lead">Start creating tournaments,leagues.</p>
                  <button type="button" class="btn btn-lg btn-outline-primary btn-block">Get started</button>
              </div>
             
            </div>
          </div>
    </section>